@import url('https://fonts.googleapis.com/css?family=Tomorrow');
 body{
  margin:0;
  padding:0;
  font-family: 'Tomorrow', sans-serif;
  height:100vh;
background-image: linear-gradient(to top, #2e1753, #1f1746, #131537, #0d1028, #050819);
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}
.text{
  position:absolute;
  top:10%;
  color:#fff;
  text-align:center;
}
h1{
  font-size:50px;
  text-align:center;
  animation:glitch 2s steps(100) infinite;
}
$r: rgba(255,0,0,1); $g: rgba(0,255,0,1); $b: rgba(0,0,255,1); $px: 0; $px2:0;
@mixin mini-glitch($c1, $c2, $coeff, $start, $end){
  $interval: $end - $start;
  @for $i from $start through $end {
    #{$i * 1%} {   
      @if $i < $start + ($interval/2){
        $px : $px + $coeff;$px2: -$px;   
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
      @else{
        $px : $px - 1;$px2: -$px;  
        text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      } 
    }
  }
  $px: 0;$px2: 0;
}
@mixin big-glitch($c1, $c2, $distance, $start, $end){
  @for $i from $start through $end {   
    #{$i * 1%} {
      @if $i == $end {
          text-shadow: 0 0 0 $c1, 0 0 0 $c2;
      }
      @else{   
          $px : $distance;$px2: -$px;
          text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
      }
    }
  }
  $px: 0;$px2: 0;
}
@keyframes glitch{      
  @include mini-glitch($r, $b, 1, 0, 10);
  @include mini-glitch($r, $g, 0.5, 11, 20); 
  @include mini-glitch($b, $g, 0.7, 21, 40); 
  @include big-glitch($b, $g, 50, 41, 42);  
  @include mini-glitch($r, $g, 0.5, 43, 50); 
  @include mini-glitch($r, $b, 1, 51, 60);
  @include big-glitch($r, $g, 30, 61, 62); 
  @include mini-glitch($r, $b, 0.5, 63, 70);
  @include big-glitch($r, $b, 70, 71, 72);
  @include mini-glitch($r, $b, 1, 73, 80);
  @include mini-glitch($r, $g, 0.5, 81, 90);
  @include big-glitch($g, $b, 60, 91, 92);
  @include mini-glitch($b, $g, 0.7, 92, 100);
}
.star{
  position:absolute;
  width:2px;
  height:2px;
  background:#fff;
  right:0;
  animation:starTwinkle 3s infinite linear;
}
.astronaut img{
  width:100px;
  position:absolute;
  top:55%;
  animation:astronautFly 6s infinite linear;
}
@keyframes astronautFly{
  0%{
    left:-100px;
  }
  25%{
    top:50%;
    transform:rotate(30deg);
  }
  50%{
    transform:rotate(45deg);
    top:55%;
  }
  75%{
    top:60%;
    transform:rotate(30deg);
  }
  100%{
    left:110%;
    transform:rotate(45deg);
  }
}
@keyframes starTwinkle{
  0%{
     background:rgba(255,255,255,0.4);
  }
  25%{
    background:rgba(255,255,255,0.8);
  }
  50%{
   background:rgba(255,255,255,1);
  }
  75%{
    background:rgba(255,255,255,0.8);
  }
  100%{
    background:rgba(255,255,255,0.4);
  }
}
:root {
	--primary: #fff;
	--solid: #fff;
	--btn-w: 7em;
	--dot-w: calc(var(--btn-w)*.2);
	--tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}
.btn {
	position: relative;
	margin: 0 auto;
	width: var(--btn-w);
	color: var(--primary);
	border: .15em solid var(--primary);
	border-radius: 5em;
	text-transform: uppercase;
	text-align: center;
	font-size: 1em;
	line-height: 2em;
	cursor: pointer;	
}
.dot {
	content: '';
	position: absolute;
	top: 0;
	width: var(--dot-w);
	height: 100%;
	border-radius: 100%;
	transition: all 300ms ease;
	display: none;
}
.dot:after {
	content: '';
	position: absolute;
	left: calc(50% - .4em);
	top: -.4em;
	height: .8em;
	width: .8em;
	background: var(--primary);
	border-radius: 1em;
	border: .25em solid var(--solid);
	box-shadow: 0 0 .7em var(--solid),
				0 0 2em var(--primary);
}
.btn:hover .dot,
.btn:focus .dot {
	animation: atom 2s infinite linear;
	display: block;
}
@keyframes atom {
	0% {transform: translateX(0) rotate(0);}
	30%{transform: translateX(var(--tr-X)) rotate(0);}
	50% {transform: translateX(var(--tr-X)) rotate(180deg);}
	80% {transform: translateX(0) rotate(180deg);}
	100% {transform: translateX(0) rotate(360deg);}
}
/*  audio file styles */
      .audio-player {
     	position:absolute;
 		top:85%;
        box-sizing: border-box;
        color: #FFF;
        overflow: hidden;
        display: grid;
        grid-template-rows: 6px auto;
        background: #rgba(255,255,255,0.5) ;
        box-shadow: 9.14894px 3.65957px 31.1064px rgb(0 0 0 / 95%);
        border-radius: 30px;
        padding: 21px 32px;
        font-family: 'Tomorrow';
        font-style: normal;
        font-weight: 500;
        font-size: 27px;
        line-height: 47px;
        max-width: 519px;
        height: 88px;
        display: flex;
        align-items: center;
    }

    .audio-player-container.is-active .audio-player  {
        display: flex;   
    }

    .audio-player .toggle-play {
        height: 54px;
        width: 54px;
         cursor: pointer;
    }

    .audio-player  .toggle-play.play {
        background: url(https://www.svgrepo.com/show/418036/play.svg);
         background-repeat: no-repeat;
    background-position: center;
      background-size: contain;
    }

    .audio-player  .toggle-play.pause {
       background: url(https://www.svgrepo.com/show/418030/turn-off.svg);
         background-repeat: no-repeat;
    background-position: center;
      background-size: contain;
    }

    .audio-player  .time {
        display: flex;
        padding-left: 19px;
        padding-right: 19px;
    }

    .timeline {
        width: 100%;
        position: relative;
        cursor: pointer;
        background: #B6B6B6;
        border-radius: 10px;
        height: 14px;
        overflow: hidden;
    }

    .timeline .progress {
        background: #4E3306;
        width: 0%;
        height: 100%;
        transition: 0.25s;
        border-radius: 10px;
    }
@media only screen and (max-width: 767px){
   .audio-player .toggle-play { height: 47px; width: 47px; }
     .audio-player{font-size: 18px; padding: 12px 28px; height: 79px; border-radius: 16px;}
     .audio-player .time { padding-left: 12px; padding-right: 12px; }
     .timeline{height: 12px;}
}
